<!-- Footer Component -->
<footer class="wrapper style1 align-center" role="contentinfo">
    <div class="inner">
        <ul class="icons">
            <li><a href="#" class="icon brands style2 fa-twitter" aria-label="Twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands style2 fa-facebook-f" aria-label="Facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands style2 fa-instagram" aria-label="Instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands style2 fa-linkedin-in" aria-label="LinkedIn"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon style2 fa-envelope" aria-label="Email"><span class="label">Email</span></a></li>
        </ul>
        <p>&copy; Proyecto Evangelizador. Todos los derechos reservados.</p>
    </div>
</footer> 